<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言管理</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>

    <div>
        <div class="col-md-10">
            <h2>留言管理
                <a class="btn" style="margin-left: 200px" href="?docsv=1" id="batchdel">导出数据</a>
                <a class="btn btn-danger" id="batchdel" onclick="deleteSelect()">批量删除</a>
            </h2>
            <hr>
        </div>

        <br><br>
        <table class="table table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th  style="text-align: center"> <input id="selectAll" type="checkbox" onclick="seltAll()"></th>
                    <th style="text-align: center">ID</th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">电话</th>
                    <th style="text-align: center">邮箱</th>
                    <th style="text-align: center">留言内容</th>
                    <th style="text-align: center">时间</th>
                    <th style="text-align: center">操作</th>
                </tr>
            </thead>
            <tbody class="huifudata">

                {% if ret.data %}
                    {% for i in  ret.data %}
                        <tr>
                            <td><input value="{{ i.id}}" type="checkbox" name="chckBox"></td>
                            <td>{{ i.id}}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.content }}</td>
                            <td>{{ i.createtime|date:"Y-m-d H:i:s" }}</td>
                            <td><a href="#" class="delid" id="{{ i.id}}">删除</a></td>
                        </tr>
                    {% endfor%}
                {% else %}
                    <tr><td colspan=8>暂无数据</td></tr>
                {% endif %}

                <tr><td colspan=8></td></tr>
            </tbody>
        </table>

        <div>
            <ul class="pagination pagination-sm">
                {{ ret.page| safe }}
            </ul>
        </div>

    </div>

    <!-- 信息删除确认 -->
    <div class="modal fade" style="margin-top: 5%" id="delcfmModel">
      <div class="modal-dialog">
        <div class="modal-content message_align">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">提示信息</h4>
          </div>
          <div class="modal-body">
            <p>您确认要<span id="uesrstaus"></span>该条评论吗？</p>
          </div>
          <div class="modal-footer">
               <form role="form" id="add-key-form"  method="post">
                   {% csrf_token %}
                   <div class="form-group">
                       <input type="text" id="delid" name="delid" class="form-control" style="width: auto;display: none">
                   </div>
                   <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                   <button type="submit" class="btn btn-danger">确定</button>
               </form>
          </div>
        </div>
      </div>
    </div>



    <script>

        function getCsrfToken() {
              var name = 'csrftoken';
              var cookieValue = 'X1HaSgZGX62GIjCB5BIeNpVuTL9smWuL'
              if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue
        }


        //批量选择checkbox
        function seltAll() {
            var chckBoxSign = document.getElementById("selectAll");       //ckb 全选/反选的选择框id
            var chckBox = document.getElementsByName("chckBox");    //所有的选择框其那么都是chckBox
            var num = chckBox.length;
            if (chckBoxSign.checked) {
                for (var index = 0; index < num; index++) {
                    chckBox[index].checked = true;
                }
            } else {
                for (var index = 0; index < num; index++) {
                    chckBox[index].checked = false;
                }
            }
        }

        //批量删除数据
        function deleteSelect() {
            var chckBox = document.getElementsByName("chckBox");
            var num = chckBox.length
            var batchdelid = "";
            for (var index = 0; index < num; index++) {
                if (chckBox[index].checked) {
                    batchdelid += chckBox[index].value + ",";
                }
            }

            if (batchdelid != "") {
                if (window.confirm("确定删除所选记录？")) {
                    $.ajax({
                        type: "POST",
                        url: '/admins/message/',
                        dataType: 'json',
                        data: {
                            "batchdelid": batchdelid.substring(0, batchdelid.length - 1),
                            "csrfmiddlewaretoken": getCsrfToken(),
                        },
                        success: function (data) {
                            if (data["success"]) {
                                alert("删除成功");
                                window.location.reload(true);
                            }
                        },
                        error: function (data) {
                            alert("系统错误，删除失败");
                        }
                    });
                }
            }else {
                    alert("请选择要删除的记录");
            }
        }
    </script>

    <script type="text/javascript" src="/static/js/main.js"></script>

</body>
</html>