{{ info.img }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/">Benjamin的网站</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 0px">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li><a href="information"><span class="glyphicon glyphicon-list"></span> 资讯</a></li>
                    <li><a href="case"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
                    <li><a href="about"><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel"  data-slide-to="1"></li>
            <li data-target="#myCarousel"  data-slide-to="2"></li>
            <li data-target="#myCarousel"  data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">


            {% for info in banner|slice:":1"  %}
                <div class="item active" style="background: black">
                    <a href="{{ info.a }}"><img src="{{ info.img }}" alt="{{ info.title }}" title="{{ info.title }}"></a>
                </div>
            {% endfor %}
            {% for info in banner|slice:"1:" %}
                <div class="item" style="background: black">
                    <a href="{{ info.a }}"><img src="{{ info.img }}" alt="{{ info.title }}" title="{{ info.title }}"></a>
                </div>
            {% endfor %}
        
{#            <div class="item active" style="background: black">#}
{#                <img src="../static/img/1.jpg" alt="第一张">#}
{#            </div>#}
{#            <div class="item" style="background: black">#}
{#                <img src="../static/img/2.jpg" alt="第二张">#}
{#            </div>#}
{#            <div class="item" style="background: black">#}
{#                <img src="../static/img/3.jpg" alt="第三张">#}
{#            </div>#}
{#            <div class="item" style="background: black">#}
{#                <img src="../static/img/4.jpg" alt="第四张">#}
{#            </div>#}

        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control left" id="sever-prev">&lsaquo;</a>
        <a href="#myCarousel" data-slide="next" class="carousel-control right" id="sever-next">&rsaquo;</a>
    </div>


    <div class="alert alert-error" style="max-width:600px;margin:100px auto 130px auto ;background: #cc888e">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 style="padding:10px 10px;">页面说明</h4>
        <p style="text-align:left;">1.Bootstrap响应式布局</p>
        <p style="text-align:left;">2.页面设计参照相关通用模板设计</p>
        <p style="text-align:left;">3.时代的新旧交替伴随着部分群体的崛起与没落</p>

    </div>

    <div class="tab4" style="background: #eeeeee;padding-top: 50px;padding-bottom: 40px;margin-top: -30px;">
        <div class="container">
            <div class="row">
              <div class="col-md-2" style="text-align: center"><a href="javascript:;" class="btn" style="font-size: 30px;">电影推荐</a></div>
              <div class="col-md-9" ><a href="http://www.ygdy8.com/html/gndy/dyzz/index.html" class="btn" target="view_window" style="font-size: 16px;line-height: 48px">最新电影&nbsp;&nbsp;</a><a href="http://www.ygdy8.com/html/gndy/jddy/20160320/50541.html" class="btn" style="font-size: 16px;line-height: 48px" target="view_window">精品电影&nbsp;&nbsp;</a></div>
              <div class="col-md-1"><a href="http://www.ygdy8.com/" class="btn" style="font-size: 10px;line-height: 48px" target="view_window">更多>></a></div>
            </div>
        </div>
        <div class="container"  style="text-align: center">
            <div class="row">

                <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col">-->
                    <!--<div class="thumbnail">-->
                        <!--<img src="../static/img/movie1.jpg" alt="">-->
                        <!--<div class="caption">-->
                            <!--<h4>加勒比海盗5:死无对证</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                {% for info in movie %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 col">
                        <a href="{{info.a}}" class="thumbnail" target="view_window">
                            <img src="{{info.img}}" alt="">
                            <div class="caption">
                                <h4>{{info.title}}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>



    <div class="tab1">
        <div class="container">
            <h2 class="tab-h2">「 为什么选择我们这个网站 」</h2>
            <p class="tab-p">强大的师资力量，完美的实战型管理课程，让您的企业实现质的腾飞！</p>
            <div class="row">
                <div class="col-md-6 col">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#" >
                                <img class="media-object" src="../static/img/tab1-1.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">课程内容</h4>
						    <p class="text-muted">其他：高校不知名的讲师编写，没有任何实战价值的教材！</p>
						    <p>其他：知名企业家、管理学大师联合编写的具有实现性教材！</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col">
                    <div class="medlia">
                        <div class="media-left media-top">
                            <a href="#" >
                                <img class="media-object" src="../static/img/tab1-2.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">师资力量</h4>
						    <p class="text-muted">其他：非欧美正牌大学毕业的、业界没有知名度的讲师！</p>
						    <p>其他：美国哈佛、耶鲁等世界一流高校、享有声誉的名牌专家！</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col">
                    <div class="medlia">
                        <div class="media-left media-top">
                            <a href="#" >
                                <img class="media-object" src="../static/img/tab1-3.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">课时安排</h4>
						    <p class="text-muted">其他：无法保证上课效率、没有时间表，当天任务无法完成！</p>
						    <p>其他：保证正常的上课效率、制定一张时间表、当天的任务当天完成！</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col">
                    <div class="medlia">
                        <div class="media-left media-top">
                            <a href="#" >
                                <img class="media-object" src="../static/img/tab1-4.png" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">服务团队</h4>
						    <p class="text-muted">其他：社会招聘的、服务水平参差不齐的普通员工！</p>
						    <p>其他：内部培养、经受过良好高端服务培训的高标准员工！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 tab2-img">
                    <img src="../static/img/tab2.png" alt="" class="auto img-responsive center-block">
                </div>
                <div class="text col-md-6 col-sm-6 tab2-text">
                    <h3>强大的学习体系</h3>
                    <p>经过管理学大师层层把关、让您的企业突飞猛进。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="../static/img/tab3.png" alt="" class="auto img-responsive center-block">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3>完美的管理方式</h3>
                    <p>最新的管理培训方案，让您的企业赶超同行。</p>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="text-muted">
        <div class="container">
            <p>企业培训 | 合作事宜 | 版权投诉</p>
            <p>蜀ICP备350105629. © 2009-2017 Benjamin. Powered by Bootstrap.</p>
        </div>
    </footer>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
        });

//          轮播自动播放
            $('#myCarousel').carousel({
                interval : 3000,
            });

//          设置垂直居中
            $('#sever-next').css('top',($('.carousel-inner img').height()-100)/2+'px');
            $('#sever-prev').css('top',($('.carousel-inner img').height()-100)/2+'px');

//          窗体大小变化时重新设置高度
            $(window).resize(function () {
                var $height = $('.carousel-inner img').eq(0).height() || $('.carousel-inner img').eq(1).height() || $('.carousel-inner img').eq(2).height() || $('.carousel-inner img').eq(3).height()
//                $('.carousel-control').css('line-height',$height+'px');
            $('#sever-next').css('top',($height-100)/2+'px');
            $('#sever-prev').css('top',($height-100)/2+'px');
                $('#myCarousel').carousel({
                    interval : 3000,
                });
            })

//          需要垂直居中的行
            $(window).load(function () {
                    $('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
                    $('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
                });

            $(window).resize(function() {
                $('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
                $('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
            });

    </script>

</body>
</html>