<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>关于</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/">Benjamin的网站</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 0px">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li><a href="information"><span class="glyphicon glyphicon-list"></span> 资讯</a></li>
                    <li><a href="case"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
                    <li class="active"><a href="about"><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <hgroup>
                <h1>关于</h1>
                <h4>本机构的成长介绍...</h4>
            </hgroup>
        </div>
    </div>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="list-group">
                        <a class="list-group-item" href="#1">1.机构简介</a>
                        <a class="list-group-item" href="#2">2.加入我们</a>
                        <a class="list-group-item" href="#3">3.联系方式</a>
                    </div>
                </div>
                <div class="col-md-9 about">
                    <a name="1"></a>
                    <h3>机构简介</h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;XX企业培训有限公司是一家专业以智能化弱电工程为主的高科技民营企业，公司自创立以来一直专业致力于智能化弱电工程；始终坚持发扬"诚信、创新、沟通"为企业宗旨，以"技术、服务"为立业之本的团体精神，并形成一套完整的设计、安装、调试、培训、维护一站式服务体系。</p>
                    <a name="2"></a>
                    <h3>加入我们</h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;网络已深刻改变着人们的生活，本地化生活服务市场前景巨大，生活半径团队坚信本地化生活服务与互联网的结合将会成就一家梦幻的公司，我们脚踏实地的相信梦想，我们相信你的加入会让生活半径更可能成为那家梦幻公司！生活半径人有梦想，有魄力，强执行力，但是要实现这个伟大的梦想，需要更多的有创业精神的你一路前行。公司将提供有竞争力的薪酬、完善的福利（五险一金）、期权、广阔的上升空间。只要你有能力、有激情、有梦想，愿意付出，愿意与公司共同成长，请加入我们！</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;请发送您的简历到：hr@xxx.com，我们会在第一时间联系您！</p>
                    <a name="3"></a>
                    <h3>联系方式</h3>
                    <p>地址：四川省成都市高新区大树林路1234号</p>
                    <p>邮编：610041</p>
                    <p>电话：028-88888888</p>
                    <p>传真：028-88888888</p>
                    <div style="width:auto;height:250px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="text-muted">
        <div class="container">
            <p>企业培训 | 合作事宜 | 版权投诉</p>
            <p>蜀ICP备350105629. © 2009-2017 Benjamin. Powered by Bootstrap.</p>
        </div>
    </footer>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5RgrUN2H5zYv3XY4s9LLLfHabpkA3WwP"></script>
    <script src="../static/js/map.js"></script>



</body>
</html>